
.players{
    .third{
        color:#393;;
    }
    .second{
        color:#8b8;
    }
    .first{
        color:#bdb;
    }
}

.managers{
    .third{
        color:#933;;
    }
    .second{
        color:#c07070;
    }
    .first{
        color:#f99;
    }
}
.item{
    font-size:2.0em;
}
.rice-xl{
  width: 176px;
  height: 176px;
}
.rice-lg{
  width: 88px;
  height: 88px;
}
.rice-sm{
  width: 44px;
  height: 44px;
}
.money{
  width: 75px;
  height: 75px;
}
.onigiri{
  width: 22px;
  height: 22px;
}
.flag{
  width: 44px;
  height: 44px;
}