<div class="container">

<!--
<h1 class="pull-left"></h1>
<div class="btn btn-default"><i class="fa fa-play"></i></div>
<div class="btn btn-default"><i class="fa fa-pause"></i></div>
<div class="clearfix"/>

-->

<div class="row">






  <div class="col-sm-8">


  <tabset justified="true">
    <tab>
      <tab-heading>
        <i class="fa fa-users fa-lg"></i> 部活状況
      </tab-heading>




    <h2>おにぎり供給率：{{player.supplyRate * 100 | number:0}}%</h2>

    <table class="table">

    <tr ng-show="game.winLocalCount > 0">
      <td>大会優勝</td>
      <td><img src="assets/images/t_trophy_a14.jpg" class="flag" ng-repeat="n in [game.winLocalCount] | range"><img src="assets/images/t_trophy_a13.jpg" class="flag" ng-repeat="n in [game.winKoushienCount] | range"></td>
    </tr>


     <tr>
        <td>
          米
          <div class="text-right item">{{rice.count / 1000 | number: 0}}kg</div>
            <div class="btn btn-default btn-sm" ng-click="rice.buy(60000)" ng-disabled="!rice.canBuy(60000)">
              <i class="fa fa-shopping-cart fa-lg"></i>
              60kg購入 （{{rice.buyPrice * 60000| number:0}}円）
            </div>
            <div class="btn btn-default btn-sm" ng-click="rice.buy(1000000)" ng-disabled="!rice.canBuy(1000000)">
              <i class="fa fa-shopping-cart fa-lg"></i>
              1㌧購入 （{{rice.buyPrice * 1000000 | number:0}}円）
            </div>
        </td>
        <td>
          <div>
            <img src="assets/images/rice_bale.jpg" class="rice-xl" ng-repeat="n in [rice.xlCount] | range">
            <img src="assets/images/rice_bale.jpg" class="rice-lg" ng-repeat="n in [rice.largeCount] | range">
            <img src="assets/images/rice_bale.jpg" class="rice-sm" ng-repeat="n in [rice.smallCount] | range">
          </div>
        </td>
      </tr>

      <tr>
        <td>
          マネージャー
          <div class="text-right item">{{manager.total}}人</div>

    <div class="btn btn-default btn-sm" ng-click="manager.buy()" ng-disabled="!manager.canBuy">
      <i class="fa fa-plus fa-lg"></i>
      募集 （{{manager.buyPrice  | number : 0}}円）
    </div>

        </td>
        <td>
          <div class="managers">
            <i class="fa fa-user fa-3x third" ng-repeat="n in [ manager.members[2] ] | range" ng-click="removeManager(2)"></i><i class="fa fa-user fa-3x second" ng-repeat="n in [ manager.members[1] ] | range" ng-click="removeManager(1)"></i><i class="fa fa-user fa-3x first" ng-repeat="n in [ manager.members[0] ] | range" ng-click="removeManager(0)"></i>
          </div>
        </td>
      </tr>



      <tr>
        <td>
          おにぎり
          <div class="text-right item">{{onigiri.count | number}}個/日</div>
          <div class="text-right">（累積：{{onigiri.consumped | number}}個）</div>
        </td>
        <td>
          <div>
            <img src="assets/images/onigiri-2.png" class="onigiri" ng-repeat="o in [onigiri.count / player.onigiriPerPlayer] | range">
          </div>
        </td>
      </tr>

      <tr>
        <td width="120">
          部員
          <div class="text-right item">{{player.total}}人</div>
        </td>
        <td>
          <div class="players">
            <i class="fa fa-user fa-2x third" ng-repeat="p in [ player.members[2] ] | range"></i><i class="fa fa-user fa-2x second" ng-repeat="p in [ player.members[1] ] | range"></i><i class="fa fa-user fa-2x first" ng-repeat="p in [ player.members[0] ] | range"></i>
          </div>
        </td>
      </tr>
    </table>




    </tab>
    <tab>
      <tab-heading>
        <i class="fa fa-trophy fa-lg"></i> 実績一覧
      </tab-heading>
      <table class="table">
        <tr>
          <th>実績名</th>
          <th>条件</th>
          <th>達成日</th>
        </tr>
        <tr ng-repeat="a in achieve.list">
          <td>{{a.title}}</td>
          <td><div ng-hide="!achieve.unlocked[a.id]">{{a.desc}}</div></td>
          <td>{{a.unlocked ? (a.unlocked | appdate) : ''}}</td>
        </tr>
      </table>

    </tab>
  </tabset>







  </div>




  <div class="col-sm-4">

  <h2>{{time.date | appdate}}</h2>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">部費</h2>
      </div>

      <div class="panel-body">
        <img src="assets/images/money.png" class="money pull-left">
        <div class="item text-right">{{money.count | number:0}}円</div>
      </div>
    </div>





        <div ng-repeat="l in log.array">
          <h4>{{l.date | appdate }}</h4>
          <div class="panel {{l.theme}}">
            <div class="panel-heading">
              <h5 class="panel-title">{{l.title}}</h5>
            </div>
            <div class="panel-body" ng-bind-html="l.body">
            </div>
          </div>
        </div>

  </div>



</div>




